In [1]:
import pandas as pd
import numpy as np
import altair as alt
import datetime

In [2]:
df = pd.read_csv('transactions.csv')
df.head()

,region,street,area,floorRange,noOfUnits,contractDate,typeOfSale,price,propertyType,district,typeOfArea,tenure,nettPrice
0,CCR,COVE DRIVE,226.0,01-05,1,920,3,3400000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
1,CCR,COVE DRIVE,194.0,01-05,1,1020,3,3180000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
2,CCR,COVE DRIVE,224.0,01-05,1,318,3,3600000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
3,CCR,COVE DRIVE,223.0,01-05,1,118,3,3580000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
4,CCR,COVE DRIVE,226.0,01-05,1,516,3,3700000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN

In [3]:
def to_date(x):
    # format is in mmyy
    x = str(x)
    year = x[-2:]
    month = x[:2] if len(x) == 4 else x[0]
    return datetime.datetime(2000 + int(year), int(month), 1)

In [4]:
df.contractDate = df.contractDate.apply(to_date)
df.head()

,region,street,area,floorRange,noOfUnits,contractDate,typeOfSale,price,propertyType,district,typeOfArea,tenure,nettPrice
0,CCR,COVE DRIVE,226.0,01-05,1,2020-09-01,3,3400000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
1,CCR,COVE DRIVE,194.0,01-05,1,2020-10-01,3,3180000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
2,CCR,COVE DRIVE,224.0,01-05,1,2018-03-01,3,3600000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
3,CCR,COVE DRIVE,223.0,01-05,1,2018-01-01,3,3580000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
4,CCR,COVE DRIVE,226.0,01-05,1,2016-05-01,3,3700000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN

In [5]:
json = 'transactions.json'
# save df as json so can plot without a memory error
df.to_json(json, orient='records')

In [6]:
# can drag ard, zoom in and out
alt.Chart(json).mark_point().encode(
            x='contractDate:T',
            y='price:Q',
            color='region:N'
).interactive()

alt.Chart(...)