In [20]:
import pandas as pd
import numpy as np
import altair as alt
import datetime

## Residential property transactions

In [21]:
df = pd.read_csv('transactions.csv')
df.head()

,region,street,area,floorRange,noOfUnits,contractDate,typeOfSale,price,propertyType,district,typeOfArea,tenure,nettPrice
0,CCR,COVE DRIVE,226.0,01-05,1,920,3,3400000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
1,CCR,COVE DRIVE,194.0,01-05,1,1020,3,3180000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
2,CCR,COVE DRIVE,224.0,01-05,1,318,3,3600000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
3,CCR,COVE DRIVE,223.0,01-05,1,118,3,3580000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
4,CCR,COVE DRIVE,226.0,01-05,1,516,3,3700000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN

In [22]:
def to_date(x):
    # format is in mmyy
    x = str(x)
    year = x[-2:]
    month = x[:2] if len(x) == 4 else x[0]
    return datetime.datetime(2000 + int(year), int(month), 1)

In [23]:
df.contractDate = df.contractDate.apply(to_date)
df.head()

,region,street,area,floorRange,noOfUnits,contractDate,typeOfSale,price,propertyType,district,typeOfArea,tenure,nettPrice
0,CCR,COVE DRIVE,226.0,01-05,1,2020-09-01,3,3400000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
1,CCR,COVE DRIVE,194.0,01-05,1,2020-10-01,3,3180000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
2,CCR,COVE DRIVE,224.0,01-05,1,2018-03-01,3,3600000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
3,CCR,COVE DRIVE,223.0,01-05,1,2018-01-01,3,3580000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN
4,CCR,COVE DRIVE,226.0,01-05,1,2016-05-01,3,3700000,Condominium,4,Strata,99 yrs lease commencing from 2007,NaN

In [24]:
json = 'transactions.json'
# save df as json so can plot without a memory error
df.to_json(json, orient='records')

In [25]:
# can drag ard, zoom in and out
alt.Chart(json).mark_point().encode(
            x='contractDate:T',
            y='price:Q',
            color='region:N',
            tooltip=['price:Q', 'contractDate:T', 'region:N', 'floorRange:N', 'propertyType:N']
).interactive()

alt.Chart(...)

## Private Non-Landed Residential Properties Median Rentals by Name

In [7]:
df = pd.read_csv('median_rentals.csv')
df.head()

            street refPeriod  psf75  median  psf25  district
0      ELLIOT ROAD    2018Q3   3.17    2.50   2.13        15
1      ELLIOT ROAD    2020Q1   3.00    2.73   2.52        15
2      ELLIOT ROAD    2019Q2   2.83    2.56   2.17        15
3  HILLVIEW AVENUE    2018Q3   2.10    2.01   1.93        23
4  HILLVIEW AVENUE    2020Q3   2.01    1.93   1.84        23

In [8]:
def to_date(x):
    # yyyyqq
    x = str(x)
    year = x[:4]
    quarter = x[-1]
    month = int(quarter) * 3
    return datetime.datetime(int(year), month, 1)

In [9]:
df.refPeriod = df.refPeriod.apply(to_date)
df.head()

            street  refPeriod  psf75  median  psf25  district
0      ELLIOT ROAD 2018-09-01   3.17    2.50   2.13        15
1      ELLIOT ROAD 2020-03-01   3.00    2.73   2.52        15
2      ELLIOT ROAD 2019-06-01   2.83    2.56   2.17        15
3  HILLVIEW AVENUE 2018-09-01   2.10    2.01   1.93        23
4  HILLVIEW AVENUE 2020-09-01   2.01    1.93   1.84        23

In [10]:
json = 'median_rentals.json'
# save df as json so can plot without a memory error
df.to_json(json, orient='records')

### todo
squarefoot against median, 1 graph per year

In [11]:
# can drag ard, zoom in and out
alt.Chart(json).mark_point().encode(
            x='refPeriod:T',
            y='median:Q',
            color='district:N',
            tooltip=['refPeriod:T', 'median:Q', 'district:N', 'psf25:Q', 'psf75:Q', 'street:N']
).interactive()

alt.Chart(...)